head
 .header
  a.logo(href="/") Home
  .header-right
    a.active(href="/web/auth/login") Login
    a(href="/web/auth/signup") Signup
    a(href="https://cloud.mongodb.com/v2/61c5d66a75055c7f87a4c525#metrics/replicaSet/62833a5cc4381f60452885bc/explorer/Database_NodeJS_Demo/users/find") Link Database
